<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>StockVisualization-个人信息</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="skin-default-dark fixed-layout">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">载入中</p>
        </div>
    </div>
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <b>
                        <img src="/static/img/logo.png" class="dark-logo">
                    </b>
                </a>
            </div>
            <div class="navbar-collapse">
                <table class="table text-center mb-0">
                    <tbody>
                        <tr>
                            <td class="border-top-0"><a href="/" class="h5 nav-btn text-dark">&nbsp;股票市场&nbsp;</a></td>
                            <td class="border-top-0"><a href="/pick/" class="h5 nav-btn text-dark">&nbsp;自选股票&nbsp;</a></td>
                            <td class="border-top-0"><a href="/hold/" class="h5 nav-btn text-dark">&nbsp;模拟持股&nbsp;</a></td>
                            <td class="border-top-0"><a href="/predict/" class="h5 nav-btn text-dark">&nbsp;短期预测&nbsp;</a></td>
                        </tr>
                    </tbody>
                </table>
                <ul class="navbar-nav my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-muted waves-effect waves-dark" href="/profile/"><img src="{{user_photo.src|safe}}" alt="user" class="img-circle" width="30"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="main-wrapper">
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">个人信息</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                              <a class="btn btn-danger" id="btn-logout" href="#">登出</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <center class="m-t-30"> <img src="/static/img/h1.png" class="img-circle" width="150" />
                                    <h4 class="card-title m-t-10">{{user_profile.name|safe}}</h4>
                                    <h6 class="card-subtitle">注册时间：{{user_profile.createtime|safe}}</h6>
                                    <div class="row text-center justify-content-md-center">
                                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-medium"></font></a></div>
                                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font class="font-medium"></font></a></div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <div class="card-body">
                                <form action="/profile/" role="form" method="post" class="form-horizontal form-material">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="col-md-12">昵称</label>
                                        <div class="col-md-12">
                                            <input type="text" value="{{user_profile.name|safe}}" class="form-control form-control-line" name="uname" id="uname">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">邮箱</label>
                                        <div class="col-md-12">
                                            <input type="email" value="{{user_profile.email|safe}}" class="form-control form-control-line" name="uemail" id="uemail">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">密码</label>
                                        <div class="col-md-12">
                                            <input type="password" placeholder="********" class="form-control form-control-line" name="upass" id="upass">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">手机</label>
                                        <div class="col-md-12">
                                            <input type="text" value="{{user_profile.phone|safe}}" class="form-control form-control-line" disabled="disabled">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12">地区</label>
                                        <div class="col-sm-12">
                                            <select class="form-control form-control-line" name="uarea" id="uarea">
                                                <option>深圳</option>
                                                <option>上海</option>
                                                <option>香港</option>
                                                <option>台湾</option>
                                                <option>海外</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-success" type="submit">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer text-center"> ©2019-2020 <a href="http://hrlu.me:8799" target="_blank">hrlu.me</a>, all rights reserved. Powered by  <a href="mailto:hrlu@stu.suda.edu.cn" title="">Hrlu</a>
    </footer>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/pages.js"></script>
</body>
</html>
