<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>StockVisualization-短期预测</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="skin-default-dark fixed-layout">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">载入中</p>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <b>
                            <img src="/static/img/logo.png" class="dark-logo">
                        </b>
                    </a>
                </div>
                <div class="navbar-collapse">
                    <table class="table text-center mb-0">
                        <tbody>
                            <tr>
                                <td class="border-top-0"><a href="/" class="h5 nav-btn text-dark">&nbsp;股票市场&nbsp;</a></td>
                                <td class="border-top-0"><a href="/pick/" class="h5 nav-btn text-dark">&nbsp;自选股票&nbsp;</a></td>
                                <td class="border-top-0"><a href="/hold/" class="h5 nav-btn text-dark">&nbsp;模拟持股&nbsp;</a></td>
                                <td class="border-top-0"><a href="/predict/" class="h5 nav-btn text-dark pb-2 border-bottom-3 border-info">&nbsp;短期预测&nbsp;</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-muted waves-effect waves-dark" href="/profile/"><img src="{{user_photo.src|safe}}" alt="user" class="img-circle" width="30"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-5 align-self-center">
                        <h4 class="text-themecolor">{{stock_info.name|safe}}</h4>
                    </div>
                    <div class="col-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <form id="squery" action="/predict/" style="display:flex" role="form" method="get">
                                <input type="text" class="form-control" name="stockcode" maxlength="6" placeholder="{{stock_info.code|safe}}">
                                <a class="btn btn-danger" href="#" onclick="if (document.getElementsByName('stockcode')[0].value == ''){
    document.getElementsByName('stockcode')[0].value = document.getElementsByName('stockcode')[0].placeholder;}document.getElementById('squery').submit();return false;">查询</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="card oh">
                            <div id="echarts" style="width:100%;height:600px;"></div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="card">
                            <div class="card-body" style="height:600px;">
                                <h4 class="card-title">短期预测</h5>
                                <h6 class="card-subtitle">注：股市价格变动由主观因素主导，本系统采用LSTM时间序列进行预测，所得数据仅供参考。</h6>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>预测天数：</td>
                                            <td><input type="text" id="input_target_size" class="form-control" value="12"></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><input type="button" id="fetch_data" class="btn btn-info" onclick="onClickFetchData()" value="建立数据集"></td>
                                        </tr>
                                        
                                        <tr>
                                            <td>Epochs：</td>
                                            <td><input type="text" id="input_epochs" class="form-control" value="20"></td>
                                        </tr>
                                        <tr>
                                            <td>Batch size：</td>
                                            <td><input type="text" id="input_batchsize" class="form-control" value="4"></td>
                                        </tr>
                                        <tr>
                                            <td>Learning rate：</td>
                                            <td><input type="text" id="input_learningrate" class="form-control" value="0.005"></td>
                                        </tr>
                                        <tr>
                                            <td><span id="train_status"><span></td>
                                            <td><input type="button" id="train_model" class="btn btn-info" onclick="onClickTrainModel()" value="训练模型" disabled="disabled"></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><input type="button" id="price_predict" class="btn btn-info" onclick="onClickPricePredict()" value="开始预测" disabled="disabled"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer text-center"> ©2019-2020 <a href="http://hrlu.me:8799" target="_blank">hrlu.me</a>, all rights reserved. Powered by  <a href="mailto:hrlu@stu.suda.edu.cn" title="">Hrlu</a>
        </footer>
    </div>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="/static/js/pages.js"></script>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('echarts'));
        var datet = {{stock_chart.date|safe}}
        var opent = {{stock_chart.open|safe}}
        var closet = {{stock_chart.close|safe}}
        var hight = {{stock_chart.high|safe}}
        var lowt = {{stock_chart.low|safe}}
        var volumest = {{stock_chart.volume|safe}}
        var dataMA5t = {{stock_chart.ma5|safe}}
        var dataMA10t = {{stock_chart.ma10|safe}}
        var dataMA20t = {{stock_chart.ma20|safe}};
        
    </script>
    <script src="/static/js/stockchart.js"></script>
    <script src="/static/js/tf.min.js"></script>
    <script>
        function buildX(data, stepSize, stepNum, stepOffset) {
          let xData = [];
          for (let n = 0; n < stepNum; n += 1) {
            const startIndex = n * stepOffset;
            const endIndex = startIndex + stepSize;
            const item = data.slice(startIndex, endIndex).map(obj => obj.value);
            xData.push(item);
          }
          return xData;
        }

        function makeTrainData(data, stepSize, stepNum, stepOffset, targetSize) {
          const trainData = { x: [], y: [] };

          const length = data.length;

          const xLength = stepSize + stepOffset * (stepNum - 1);
          const yLength = targetSize;
          const stopIndex = length - xLength - yLength;

          for (let i = 0; i < stopIndex; i += 1) {
            const x = data.slice(i, i + xLength);
            const y = data.slice(i + xLength + 1, i + xLength + 1 + yLength);

            const xData = buildX(x, stepSize, stepNum, stepOffset);
            const yData = y;

            trainData.x.push(xData.map(item => item));
            trainData.y.push(yData.map(item => item.value));
          }
          return trainData;
        }

        function buildModel() {
          const model = tf.sequential();

          //lstm input layer
          const hidden1 = tf.layers.lstm({
            units: LSTM_UNITS,
            inputShape: [STEP_NUM, STEP_SIZE],
            returnSequences: true
          });
          model.add(hidden1);

          /*
          const dropout = tf.layers.dropout({
            rate: 0.2
          });
          model.add(dropout);
          
          const hidden2 = tf.layers.lstm({
            units: LSTM_UNITS,
            returnSequences: true
          });
          model.add(hidden2);
          */

          //2nd lstm layer
          const output = tf.layers.lstm({
            units: TARGET_SIZE,
            returnSequences: false
          });
          model.add(output);

          model.add(
            tf.layers.dense({
              units: TARGET_SIZE
            })
          );

          model.add(tf.layers.activation({ activation: "tanh" }));

          //compile
          const rmsprop = tf.train.rmsprop(LEARNING_RATE);
          model.compile({
            optimizer: rmsprop,
            loss: tf.losses.meanSquaredError
          });

          return model;
        }

        async function predict(model, input) {
          const prediction = await model.predict(tf.tensor([input])).data();
          return prediction;
        }
        async function trainBatch(data, model) {
          let callback = function(epoch, log) {
              $("#train_status")[0].innerHTML = "Training:" + parseInt((epoch+1)/config.epochs*100) + "%<br>Loss:" + log.loss.toFixed(5);
              $("#train_status").removeClass();
              $("#train_status").addClass(log.loss>1?"text-danger":log.loss>0.1?"text-warning":log.loss>0.01?"text-info":"text-success");
          }
                                                                   
          console.log("training start!");
          // Save the model
          // const saveResults = await model.save('downloads://air-time-model');
          const epochs = config.epochs;
          const results = [];
          const xs = tf.tensor3d(data.x);
          const ys = tf.tensor2d(data.y);

          const history = await model.fit(xs, ys, {
            batchSize: config.batchSize,
            epochs: config.epochs,
            validationSplit: 0.2,
            callbacks: {
                onEpochEnd: async (epoch, log) => {
                  callback(epoch, log);
                }
            }
          });

          console.log("training complete!");
          return history;
        }
    </script>
    <script>
        let STEP_SIZE = 3;
        let STEP_NUM = 24;
        let STEP_OFFSET = 1;
        let TARGET_SIZE = 12;
        let LSTM_UNITS = 30;
        
        let LEARNING_RATE = 0.005
        
        let X_LEN = STEP_SIZE + STEP_OFFSET * (STEP_NUM - 1);
        let Y_LEN = TARGET_SIZE;
        let config = { epochs: 30, batchSize: 4 };

        let changeData = [];
        
        let trainData = null;
        let model = null;
        function onClickFetchData(){
            $("#fetch_data")[0].disabled = "disabled";
            
            if (datet.length < 144){
                alert("数据量过少，无法进行训练");
                $("#fetch_data")[0].disabled = "disabled";
                $("#train_model")[0].disabled = "disabled";
            }
            
            TARGET_SIZE = parseInt($("#input_target_size")[0].value);
            X_LEN = STEP_SIZE + STEP_OFFSET * (STEP_NUM - 1);
            
            if (TARGET_SIZE > 32){
                alert("超出时间限制！");
                $("#input_target_size")[0].value = 32;
                TARGET_SIZE = 32;
            }
            
            // Normalize data with value change
            
            for (let i = 0; i < 144; i++) {
              const item = {};
              item.date = datet[datet.length - 144 + i];
              const val = parseInt(closet[closet.length - 144 + i]);
              const val0 = parseInt(closet[closet.length - 145 + i]);
              item.value = val / val0 - 1;
              changeData.push(item);
            }
  
            trainData = makeTrainData(
              changeData,
              STEP_SIZE,
              STEP_NUM,
              STEP_OFFSET,
              TARGET_SIZE
            );
            
            const baseDate = moment(new Date(date[date.length - 1]));
            for( let i = 0; i < TARGET_SIZE; i+=1) {
                const nextDate = baseDate.add(baseDate.day() == 5? 3:1, 'days');
                date.push(moment(nextDate).format('YYYY-MM-DD'));
            }
                
            
            option.legend.selected = {'日K': false, 'MA5': false, 'MA10': false, 'MA20': false};
            option.legend.data.push("close");
            let c = {
                name: "close",
                type: 'line',
                data: close,
                smooth: true,
                showSymbol: false,
                lineStyle: {
                    normal: {
                        width: 1
                    }
                }
            };
            option.dataZoom[0].start = 100 - parseInt((144+TARGET_SIZE)*100/date.length);
            option.series.push(c);
            myChart.setOption(option);
            
            $("#train_model")[0].disabled = "";
        }

        async function onClickTrainModel(){
            $("#train_model")[0].disabled = "disabled";
            
            $("#train_status").removeClass();
            $("#train_status")[0].innerHTML = "Training:0%<br>Loss:-";
            config.epochs = parseInt($("#input_epochs")[0].value);
            config.batchSize = parseInt($("#input_batchsize")[0].value);
            LEARNING_RATE = parseFloat($("#input_learningrate")[0].value);
            model = buildModel();
            model.summary();
            
            const history = await trainBatch(trainData, model);
            $("#price_predict")[0].disabled = "";
        }

        async function onClickPricePredict() {
            $("#price_predict")[0].disabled = "disabled";
            
            const inputStart = changeData.length - X_LEN;
            const inputEnd = changeData.length;
            const input = changeData.slice(inputStart, inputEnd);
            const predictInput = buildX(input, STEP_SIZE, STEP_NUM, STEP_OFFSET);
            const prediction = await predict(model, predictInput);
            
            // re-constructe predicted value based on change
            // const baseDate = moment(new Date(date[date.length - 1]));
            const baseValue = close[close.length - 1];
            
            let val = parseFloat(baseValue);
            let pre = (new Array(close.length - 1)).fill(null);
            pre.push(val);
            for( let i = 0; i < prediction.length; i+=1) {
              
              // const nextDate = baseDate.add(baseDate.day() == 5? 3:1, 'days');
              // date.push(moment(nextDate).format('YYYY-MM-DD'));
              // open.push(close[close.length - 1]);
              val = val + val * prediction[i];
              pre.push(parseFloat(val.toFixed(2)));
              
            }
            option.legend.data.push("pre");
            let p = {
                name: "pre",
                type: 'line',
                data: pre,
                smooth: true,
                showSymbol: false,
                lineStyle: {
                    normal: {
                        width: 2
                    }
                }
            };
            option.series.push(p);
            myChart.setOption(option);
            
            $("#fetch_data")[0].disabled = "";
        }
                                                 
    </script>
</body>
</html>
