<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sdcs-主页</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="skin-default-dark fixed-layout">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">载入中</p>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <b>
                            <img src="/static/img/logo.png" class="dark-logo">
                        </b>
                    </a>
                </div>
                <div class="navbar-collapse">
                    <table class="table text-center mb-0">
                        <tbody>
                            <tr>
                                <td class="border-top-0"><a href="/" class="h5 nav-btn text-dark pb-2 border-bottom-3 border-info">&nbsp;股票市场&nbsp;</a></td>
                                <td class="border-top-0"><a href="/pick/" class="h5 nav-btn text-dark">&nbsp;自选股票&nbsp;</a></td>
                                <td class="border-top-0"><a href="/hold/" class="h5 nav-btn text-dark">&nbsp;模拟持股&nbsp;</a></td>
                                <td class="border-top-0"><a href="/predict/" class="h5 nav-btn text-dark">&nbsp;短期预测&nbsp;</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-muted waves-effect waves-dark" href="/profile/"><img src="{{user_photo.src|safe}}" alt="user" class="img-circle" width="30"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-5 align-self-center">
                        <h4 class="text-themecolor">{{stock_info.name|safe}}</h4>
                    </div>
                    <div class="col-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <form id="squery" action="/" style="display:flex" role="form" method="get">
                                <input type="text" class="form-control" name="stockcode" maxlength="6" placeholder="{{stock_info.code|safe}}">
                                <a class="btn btn-danger" href="#" onclick="if (document.getElementsByName('stockcode')[0].value == ''){
    document.getElementsByName('stockcode')[0].value = document.getElementsByName('stockcode')[0].placeholder;}document.getElementById('squery').submit();return false;">查询</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="card oh">
                            <div id="echarts" style="width:100%;height:600px;"></div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="card">
                            <div class="card-body" style="height:600px;">
                                <h5 class="card-title">{{stock_info.name|safe}}</h5>
                                <h6 class="card-subtitle">{{stock_info.code|safe}}</h6>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p class="h1 stock-price">{{stock_info.price|safe}}</p>
                                                <span class="stock-change">{{stock_info.change|safe}}</span>&nbsp;&nbsp;
                                                <span class="stock-pchange">{{stock_info.pchange|safe}}</span>
                                            </td>
                                            <td style="">
                                                <span class="text-dark">刷新时间：<br>{{stock_info.date|safe}}<br>{{stock_info.time|safe}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>今开：<span class="stock-open">{{stock_info.open|safe}}</span></td>
                                            <td>昨收：<span class="text-dark stock-pclose">{{stock_info.pre_close|safe}}</span></td>
                                        </tr>
                                        <!--tr>
                                            <td>涨停：<span class="text-danger">{{stock_info.max|safe}}</span></td>
                                            <td>跌停：<span class="text-success">{{stock_info.min|safe}}</span></td>
                                        </tr -->
                                        <tr>
                                            <td>最高：<span class="stock-high">{{stock_info.high|safe}}</span></td>
                                            <td>最低：<span class="stock-low">{{stock_info.low|safe}}</span></td>
                                        </tr>
                                        <tr>
                                            <td>成交量：<span class="text-dark">{{stock_info.volume|safe}}</span></td>
                                            <td>成交额：<span class="text-dark">{{stock_info.amount|safe}}</span></td>
                                        </tr>
                                        <tr>
                                            <td>市净率：<span class="text-dark">{{stock_info.pb|safe}}</span></td>
                                            <td>市盈率：<span class="text-dark">{{stock_info.pe|safe}}</span></td>
                                        </tr>
                                        <tr>
                                            <td>每股收益：<span class="text-dark">{{stock_info.esp|safe}}</span></td>
                                            <td>每股净资：<span class="text-dark">{{stock_info.bvps|safe}}</span></td>
                                        </tr>
                                        <tr>
                                            <td>总股本：<span class="text-dark">{{stock_info.totals|safe}}</span></td>
                                            <td>流通股本：<span class="text-dark">{{stock_info.outstanding|safe}}</span></td>
                                        </tr>
                                        <tr>
                                            <td>总资产：<span class="text-dark">{{stock_info.totalAssets|safe}}</span></td>
                                            <td>流通资产：<span class="text-dark">{{stock_info.liquidAssets|safe}}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="card-title">个股异动</h5>
                                        <h6 class="card-subtitle">创新高</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover text-center" id="table-rank-up">
                                    <thead class="bg-white">
                                        <tr>
                                            <th>代码</th>
                                            <th>名称</th>
                                            <th>当前价格</th>
                                            <th>涨跌幅</th>
                                            <th>今开</th>
                                            <th>昨收</th>
                                            <th>成交量</th>
                                            <th>成交额</th>
                                            <th>换手率</th>
                                            <th>市盈率</th>
                                            <th>市净率</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for s in rise_list %}
                                            <tr>
                                                <td><a href="?stockcode={{s.code|safe}}">{{s.code|safe}}</a></td>
                                                <td>{{s.name|safe}}</td>
                                                <td><span class="text-danger">{{s.trade|safe}}</span></td>
                                                <td><span class="text-danger">{{s.changepercent|safe}}</span></td>
                                                <td>{{s.open|safe}}</td>
                                                <td>{{s.settlement|safe}}</td>
                                                <td>{{s.volume|safe}}</td>
                                                <td>{{s.amount|safe}}</td>
                                                <td>{{s.turnoverratio|safe}}</td>
                                                <td>{{s.per|safe}}</td>
                                                <td>{{s.pb|safe}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="card-title">个股异动</h5>
                                        <h6 class="card-subtitle">创新低</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover text-center" id="table-rank-down">
                                    <thead class="bg-white">
                                        <tr>
                                            <th>代码</th>
                                            <th>名称</th>
                                            <th>当前价格</th>
                                            <th>涨跌幅</th>
                                            <th>今开</th>
                                            <th>昨收</th>
                                            <th>成交量</th>
                                            <th>成交额</th>
                                            <th>换手率</th>
                                            <th>市盈率</th>
                                            <th>市净率</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for s in fall_list %}
                                            <tr>
                                                <td><a href="?stockcode={{s.code|safe}}">{{s.code|safe}}</a></td>
                                                <td>{{s.name|safe}}</td>
                                                <td><span class="text-success">{{s.changepercent|safe}}</span></td>
                                                <td><span class="text-success">{{s.trade|safe}}</span></td>
                                                <td>{{s.open|safe}}</td>
                                                <td>{{s.settlement|safe}}</td>
                                                <td>{{s.volume|safe}}</td>
                                                <td>{{s.amount|safe}}</td>
                                                <td>{{s.turnoverratio|safe}}</td>
                                                <td>{{s.per|safe}}</td>
                                                <td>{{s.pb|safe}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <iframe frameborder="0" width="100%" height="1200px" scrolling="auto" id="inner-iframe" src="/pick/inner"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer text-center"> ©2019-2020 <a href="http://hrlu.me:8799" target="_blank">hrlu.me</a>, all rights reserved. Powered by  <a href="mailto:hrlu@stu.suda.edu.cn" title="">Hrlu</a>
        </footer>
    </div>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/jquery.freezeheader.js"></script>
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/pages.js"></script>
    <script type="text/javascript">
        $(document).ready(freezeRankTableHeade());
        var myChart = echarts.init(document.getElementById('echarts'));
        var datet = {{stock_chart.date|safe}}
        var opent = {{stock_chart.open|safe}}
        var closet = {{stock_chart.close|safe}}
        var hight = {{stock_chart.high|safe}}
        var lowt = {{stock_chart.low|safe}}
        var volumest = {{stock_chart.volume|safe}}
        var dataMA5t = {{stock_chart.ma5|safe}}
        var dataMA10t = {{stock_chart.ma10|safe}}
        var dataMA20t = {{stock_chart.ma20|safe}};
    </script>
    <script src="/static/js/stockchart.js"></script>
</body>
</html>
